<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'>
        <title>Hello!</title>
        <link rel="stylesheet" href="~/css/style.css"/>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </head>
    <body>
        <ul class="nav justify-content-center">
            <li class="nav-item">
                <a class="nav-link active" href="/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/projects">Projects</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/contact">Contacts</a>
            </li>
        </ul>
        <h1 class="row justify-content-center">About Me</h1>
        <div class="nav justify-content-center body">
            <div class="left">
                <img src="" alt="me">
                <h3>It Me</h3>
                <p>I like pie</p>
            </div>
            <div class="right">
                <p>I like to eat food and yeah.</p>
            </div>
        </div>
    </body>
</html>
